@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

/*--------------------------------------------Colors*/

body {
    background-color: #1a1a1a;
}

.nav {
    background-color: rgba(0, 0, 0, 0.7);
}

.nav-link {
    color: #f7f7f7;
}

h1,
p {
    color: #fff;
}

h2 {
    color: #c1a686;
}


/* ----------------------------------------Special paddings/margins/text */

.nav-item {
    margin: 0 50px 0 50px;
}

.uppercase {
    text-transform: uppercase;
}

.header {
    font-size: 100px;
}

h2 {
    font-size: 70px;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 35px;
    text-align: center;
}

.macros {
    color: #c1a686;
}

.bigger {
    font-size: 40px;
}

/*--------------------------------------------Header*/

.nav {
    z-index: 1;
    margin: 5px 300px 0 300px;
    border-radius: 15px;
    border: 3px solid;
    border-color: #c1a686;
    padding: 10px;
    position: fixed;
    width: 70%;
}

.nav-item {
    text-align: center;
    text-decoration: none;
}

.nav-link {
    font-size: 13px;
}

.nav-item a:hover {
    color: #c1a686;;
    opacity: 0.8;

    animation-name: btn-zoom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

a .icon:hover {
    opacity: 0.8;
}

/*--------------------------------------------Home Section Header*/

#hero-image {
    height: 800px;
    width: 100%;
    background-image: url(../img/front.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }

}

.header {
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-weight: 700;
}

.p-header {
    position: absolute;
    top: 38%;
    left: 28%;
    transform: translate(-50%, -50%);
    font-weight: 300;
}

.container {
    margin-top: 50px;
}

/*--------------------------------------------Home Section Buttons*/

.container-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
 }

.btn {
    border: 2px solid;
    border-color: #c1a686;
    border-radius: 15px;
    color: #fff;
    width: 30rem; 
    height: 50rem;
    margin: 60px 150px 40px 150px;
    font-size: 100px;
    display: inline-block;
    position: relative;
    line-height: 10;
}

.btn-training {
    background-image: url(../img/kettlebells.jpeg);
    background-size: cover;
}

.btn-healthy-eating {
    background-image: url(../img/food.jpeg);
    background-size: cover;
    background-position: -100px center;
}

.btn:hover {
    color: #fff;
    border-radius: 5px solid;
    border-color: #ffffff;
    transition: all ease-in-out 0.3s;
    filter: grayscale(30%);

    animation-name: btn-zoom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes btn-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}

/*--------------------------------------------Training Section Header*/

#training-image {
    height: 800px;
    width: 100%;
    background-image: url(../img/training.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.header-training {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 100px;
}

/*--------------------------------------------Training Section List Of Exercises*/

.training-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 100px 50px 50px;
    border-bottom: solid 1px;
    border-color: #c1a686;
}

.exercises-weight {
    font-weight: 700;
    font-size: 30px;
}

.exercises-list li {
    color: #c1a686;
    list-style-type: none;
    margin: 10px;
    font-size: 25px;
    text-decoration: none;
}

.no-underline {
    text-decoration: none;
    color: #c1a686;
}

.no-underline:hover {
    color:#575656
}

.row-one,
.row-two {
    display: flex;
    justify-content: center;
    margin: 10px;
}

/*--------------------------------------------Eating Section Header*/

#eating-image {
    height: 800px;
    width: 100%;
    background-image: url(../img/eating.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.header-eating {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 100px;
}

/*--------------------------------------------Eating Section Pyramid*/

#pyramid-image {
height: 800px;
width: auto;
background-image: url(../img/pyramid.jpg);
background-repeat: no-repeat;
background-size: cover;
margin-left: 500px;
margin-bottom: 50px;
}

.list-of-food {
    font-size: 30px;
    font-weight: 600;
    margin-left: 20px;
}

/*--------------------------------------------Sign Up Section*/

.form-section {
    background-size: cover;
    background-position: center;
    height: 1000px;
    background-image: url(..//img/gym.jpg);
}


.signup-form {
    margin-top: 150px;
    color:#c1a686;
    background-color: rgba(60, 60, 60, 0.8);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color:#c1a686;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color:#c1a686;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color:#c1a686;
}

/*--------------------------------------------Footer*/

.container-fluid {
    margin-top: 40px;
    border-top: solid 3px;
    border-color: #c1a686;
    padding-top: 30px;
}

.footer-title {
    font-size: 65px;
}

h5 {
    margin-top: 20px;
    font-size: 25px;
    color: #c1a686;
    display: flex;
    justify-content: center;
}

.social-links {
    margin-top: 10px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
}

.social-links li a {
    color: #c1a686;
    list-style-type: none;
    display: inline;
    margin: 10px;
    font-size: 25px;
}

.social-links li a:hover {
    color: #575656;
}

h6 {
    color: #c1a686;
    display: flex;
    justify-content: right;
    margin-top: 100px;
}





